[Unit]
Description=PSQL Exporter
After=network.target

[Service]
User=psql_exporter
Group=psql_exporter
Type=simple
Restart=always
EnvironmentFile=/opt/psql_exporter/psql_exporter_env.yaml
ExecStart=/opt/psql_exporter/psql_exporter \
--web.listen-address=0.0.0.0:9204 \
--disable-default-metrics \
--disable-settings-metrics \
--extend.query-path=/opt/psql_exporter/queries.yaml


[Install]
WantedBy=multi-user.target
